
<div class="row">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-content">
                <form #bitacoraForm="ngForm" (ngSubmit)="updateBitacora(bitacoraForm)">
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="bitacoraService.selectedBitacora._id">
                    <div class="row">
                            <div class="input-field col-md-12">
                                <input type="text" name="name" #name="ngModel" [(ngModel)]="bitacoraService.selectedBitacora.name"
                                    placeholder="Enter your Name"
                                >
                            </div>
                            <div class="input-field col-md-s12">
                                <input type="text" name="area" #area="ngModel" [(ngModel)]="bitacoraService.selectedBitacora.area"
                                    placeholder="Enter your area"
                                >
                            </div>
                            <div class="input-field col-md-s12">
                                <input type="text" name="position" #position="ngModel" [(ngModel)]="bitacoraService.selectedBitacora.position"
                                    placeholder="Enter your posicion">
                            </div>
                            <div class="input-field col s6 m4 l4">
                                <label for="turno">TURNO</label>
                                <select #turno="ngModel" name="turno" [(ngModel)]="bitacoraService.selectedBitacora.turno" class="validate">
                                    <option [value]="item" *ngFor="let item of lista">{{item}}</option>
                                </select>
                                <span>ingrese el valor </span>
                            </div>    
                    </div>
                    <div class="card-action">
                            <div class="input-field-append">
                                <button class="btn-primary btn">Guardar</button>
                            </div>
                    </div>
                </form>
                </div>
            </div> 
        </div>      
    </div>
</div>