<ng-container class="row" *ngIf="!ActT; else RegBinnacle">
    <button (click)="r = addBitacora(salida); ActT = r.ActT; crear = r.crear">Registrar operador</button>
</ng-container>
<ng-template #RegBinnacle>
    <app-bitacora-popup [item]="crear"></app-bitacora-popup>
</ng-template>
<ol>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
  </ol>
<div class="col-md-8">
            <table mat-table [dataSource]="bitacoraService.bitacoras">
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let bitacora">{{ bitacora.name }}</td>
                </ng-container>
                <ng-container matColumnDef="Usuario">
                    <th mat-header-cell *matHeaderCellDef>Usuario</th>
                    <td mat-cell *matCellDef="let bitacora">{{ bitacora.usuario }}</td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef>Area</th>
                    <td mat-cell *matCellDef="let bitacora">{{ bitacora.area }}</td>
                </ng-container>
                <ng-container matColumnDef="posición">
                    <th mat-header-cell *matHeaderCellDef>posición</th>
                    <td mat-cell *matCellDef="let bitacora">{{ bitacora.position }}</td>
                </ng-container>
                <ng-container matColumnDef="Turno">
                    <th mat-header-cell *matHeaderCellDef>Turno</th>
                    <td mat-cell *matCellDef="let bitacora">{{ bitacora.turno }}</td>
                </ng-container>
                    <ng-container matColumnDef="bottom_edit">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let bitacora">
                            <a (click)="updateBitacora(bitacora._id)" style="cursor:pointer">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="bottom_delete">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let bitacora">
                            <a (click)="deleteBitacora(bitacora._id)" style="cursor:pointer">
                                <i class="material-icons uk-icon-hand-pointer-o">delete</i>
                            </a>
                        </td> 
                    </ng-container>
                <tbody>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </tbody>
            </table>
</div>      

